.main 
{
    margin: 5px;
    padding-bottom: 50px;
    align-items: center;
    padding: 1px;
    text-align: center;
    font-size: 30px;
    font-style: inherit;
    color: chocolate;
    margin-left: 0px;
}
.login
{
    padding-bottom: 20px;
    cursor: pointer;
}
.img
{
    width: 180px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 10px;
}
.navbar 
{
    border: 2px dotted rgb(55%,30%,55%);
    border-radius: 10px;
    background-color: aquamarine;
    width: 450px; height: 600px;
}

.username
{
    margin-left: 30px;
    background: transparent;
    color: #333;
    border-radius: 5px;
    height: 25px; width: 210px;
}
.psword
{
    margin-left: 30px;
    background: transparent;
    color: #333;
    border-radius: 5px;
    height: 25px; width: 210px;
}
.reset
{
    margin: 20px;
    margin-left: 40px;
    background-color: bisque;
    height: 30px; width: 90px;
    border-radius: 10px;
}
.submit
{
    background-color: #4AFC50;
    color: darkblue;
    height: 30px; width: 90px;
    border-radius: 10px;
}